.App {
  	text-align: center;
}

.App-logo {
  	height: 30vmin;
}

.App-header {
	background-color: #01344e;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

h1 {
	font-size: 30px;
}

.App-link {
	color: #09d3ac;
}

.list-item {
  	padding: 10px;
  	background-color: #215ca0;
  	list-style: none;
  	margin: 10px;
	color: #fff;
	transform: translateX(-20px);
}

form {
  	margin: 50px auto;
}

.btn {
	background-color: #00A1E0;
	border: 4px solid #00A1E0;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin: 10px auto;
	padding: 14px 20px;
	text-transform: uppercase;
}

.btn:hover {
	background: #fff;
	color: #01344e;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	background: #ddaacc;
}

input[type=text] {
	height: 40px;
	font-size: 20px;
	margin: 10px 20px;
	padding: 5px 15px;
	width: 190px;
}
